li.list-group-item.d-flex.align-items-center.episode(id=episode.id)
    article.flex-fill
        h5.mb-1=episode.title
        p.mb-1=episode.description
        button.btn.btn-link(type="button" onclick=`toggleShowNotes("#${episode.id}-show-notes")` role="button" aria-expanded="false" aria-controls=`${episode.id}-show-notes`) show notes
        .collapse.bg-light.p-2(id=`${episode.id}-show-notes`)!=episode.content
    nav
        a(href=episode.link download)
            button.btn.btn-warning Download
    audio.ml-3(controls)
        source(src=episode.link type="audio/mpeg")
