mixin podcast(podcast)
    .col-sm-12.col-md-6.col-lg-4.mb-3
        a.card(href=`/podcasts/${podcast.id}`)
            article.card-image(style=`background-image:url('${podcast.image}');`)
            .card-body 
                h5.card-title=podcast.title
                p.card-text=`${podcast.description.substring(0,147)} ${podcast.description.length > 147 ? "..." : ""}`
