extends layout.pug
include podcast_card.pug

block content
    .container.mb-4.podcast
        .jumbotron.mt-4.d-flex.align-items-end.justify-content-end.bg-primary.position-relative.card-image(style=`background-image:url('${podcast.image}');`)
            img(src='/images/mv-hero.svg' alt=podcast.title)
            nav.w-100.d-flex.justify-content-end.align-items-center
                a.flex-fill(href="/podcasts")
                    button.btn.btn-light Back
                a.ml-2(href=`/podcasts/${podcast.id}/edit`)
                    button.btn.btn-primary Edit Podcast
                button#publish.btn.btn-success.ml-2(type="button" onclick=`publish("${podcast.id}");` disabled) Publish
                button.btn.btn-warning.ml-2(data-toggle="modal" data-target="#modal") RSS Feeds
        .modal.fade#modal
            .modal-dialog
                .modal-content 
                    .modal-header
                        h5.modal-title RSS, Atom and JSON Feeds
                        button.btn.btn-outline-secondary(data-dismiss="modal") Close
                    .modal-body
                        .d-flex.align-items-center.mb-2
                            .flex-fill#rss.text-tiny https://podcasts.multiverse-coaches.io/uploads/feeds/#{podcast.title.split(" ").join("-").toLowerCase()}.rss
                            button.btn.btn-warning.btn-fixed-width(onclick="copyToClipboard('rss')") Copy RSS
                        .d-flex.align-items-center.mb-2
                            .flex-fill#atom.text-tiny https://podcasts.multiverse-coaches.io/uploads/feeds/#{podcast.title.split(" ").join("-").toLowerCase()}.atom
                            button.btn.btn-warning.btn-fixed-width(onclick="copyToClipboard('atom')") Copy Atom
                        .d-flex.align-items-center
                            .flex-fill#json.text-tiny https://podcasts.multiverse-coaches.io/uploads/feeds/#{podcast.title.split(" ").join("-").toLowerCase()}.json
                            button.btn.btn-warning.btn-fixed-width(onclick="copyToClipboard('json')") Copy JSON
        h2=podcast.title
        hr.mt-4
        p=podcast.description
        ul#episodes.list-group
            if podcast.Episodes.length 
                each episode in podcast.Episodes.reverse()
                    include episode.pug
        section.my-3.d-flex
            button.btn.btn-success(type="button" data-toggle="collapse" data-target="#add-episode-component" aria-expanded="false" aria-controls="add-episode-component") Add Episode
            a.ml-2(href=`/podcasts/${podcast.id}/edit`)
                button.btn.btn-primary Edit episodes
        #add-episode-component.collapse
            .row
                .col-sm-12.col-md-8
                    section
                        form#add-episode.card.card-body(onsubmit="event.preventDefault();onEpisodeSubmit(this);return false;")
                            input(type="hidden" value=podcast.id name="podcast_id")
                            h2 Upload an episode
                            .mb-3
                                label.form-label(for="episode-title") Episode title
                                input#episode-title.form-control(aria-describeby="episode-title-help" name="title" required oninput="onEpisodeTitle(event)")
                                #episode-title-help.form-text This will be the name of your episode.
                            .mb-3
                                label.form-label(for="episode-description") Short strap line for your podcast episode.
                                textarea#episode-description.form-control(aria-describeby="episode-description-help" name="description" required style="resize:none;" oninput="onEpisodeDescription(event)")
                                #episode-description-help.form-text This will be the short description for your episode. It will appear with your podcast cover image in lists.
                            .mb-3
                                label.form-label(for="episode-content") Show notes
                                textarea#episode-content.form-control(aria-describeby="episode-content-help" name="content" style="resize:none;")
                                #episode-content-help.form-text This will be the show notes and description for your episode. Include links and other information about the episode here.
                            .mb-3
                                label.form-label(for="podcast-audio-file") Audio file of your podcast.
                                input#podcast-audio-file.form-control-file(aria-describeby="podcast-audio-file-help" name="audio" type="file" required accept="audio/mp3,audio/wav,audio/acc;capture=microphone")
                                #podcast-audio-file-help.form-text Upload your Podcast audio file (.mp3, .wav, .acc)
                            .mb-3
                                button.btn.btn-primary Upload
                .col-sm-12.col-md-4 
                    #preview.card
                        img.card-img-top(alt="podcast packshot" src=podcast.image)
                        .card-body
                            h5.card-title Your latest episode 
                            p.card-text Describe your podcast. This will appear in listeners podcast apps.
                            p#card-content
    script(src="/js/podcasts.js")
